# Environment variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# IDE / Editor specific files
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/

# Output files
result.xlsx
result_test.xlsx
